.Main{
	width: 100%;
	display: block;
	margin: 0 auto;
	height: 500px;
	align-self: center;
	position:relative;
	overflow: hidden;
	box-shadow: 0 0 10px #85888C;
	border-style: solid;
      border-radius: 5px;
      border-color: #e8491d; 
}
.main_previous,
.main_next {
	height: 100%;
	width: 50px;
	position: absolute;
	left: 0;
	display: flex;
	transition: all 0.2s ease-in-out;
}
.main_next {
	right: 0;
	left: auto;
}
	.main_previous:hover,
	.main_next:hover {
		background-color: #333;
	}
.marrow_previous,
.marrow_next {
	width: 100%;
	align-self: center;
}
.marrow_next {
	transform: rotate(180deg);
}

.long_main {
	height: 100%;
}
.mitem {
	background-color: #fff;
	color: #333;
	height: 100%;
	width: 100%;
	float: left;
}
.mpic {
	height: 100%;
	width: 60%;
	padding: 3px;
	float: left;
}
.mdesc {
	padding-top: 10%;
	padding-left: 60%;
	text-align: left;
}

@media (max-width: 960px) {
      .mpic {
		height: 50%;
		width: 100%;
		float: top;
	}
	.mdesc {
		padding-top: 40%;
		padding-left: 20px;
		text-align: left;
	}
	.marrow_previous,
	.marrow_next {
	width: 50%;
	align-self: bottom;
	}
	}
	
@media (max-width: 780px) {
	.mpic {
		height: 50%;
		width: 100%;
		float: top;
	}
	.mdesc {
		padding-top: 80%;
		padding-left: 0;
		text-align: left;
	}
	.marrow_previous,
	.marrow_next {
	width: 50%;
	align-self: bottom;
	}
	}

#m1, #m2, #m3, #m4, #m5, #m6, #m7, #m8, #m9, #m10, #m11 {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
#m1{background-image: url("../images/KeepMovies.png");}
#m2{background-image: url("../images/mangiare_React.png");}
#m3{background-image: url("../images/NasaApp.png");}
#m4{background-image: url("../images/ShoppingList.png");}
#m5{background-image: url("../images/nasa_jquery.png");}
#m6{background-image: url("../images/exercise_JS.png");}
#m7{background-image: url("../images/mangiare_HTML.png");}
#m8{background-image: url("../images/Gallaway_CSharp.png");}
#m9{background-image: url("../images/Cashier_Oracle.png");}
#m10{background-image: url("../images/excelDigital_Laravel.png");}
#m11{background-image: url("../images/Gallaway_WordPress.png");}

/* ------------------------------- */ 
.List{
	width: 100%px;
	display: block;
	margin: 0 auto;
	height: 300px;
	align-self: center;
	position:relative;
	overflow: hidden;
	box-shadow: 0px 0px 4px black;
	border-radius: 25px;
}
.list_previous,
.list_next {
	height: 100%;
	width: 20px;
	position: absolute;
	left: 0;
	display: flex;
	transition: all 0.2s ease-in-out;
}
.list_next {
	right: 0;
	left: auto;
}
	.list_previous:hover,
	.list_next:hover {
		background-color: rgba(0,0,0,0.5);
	}
.larrow_previous,
.larrow_next {
	width: 100%;
	align-self: center;
}
.larrow_next {
	transform: rotate(180deg);
}
.long_list{
	height: 100%;
}
.litem{
	height: 100%;
	width:80px;
	float: left;
}
#l1,#l2,#l3,#l4,#l5,#l6,#l7,#l8,#l9{
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
#l1{background-image: url("../images/mangiare_React.png");}
#l2{background-image: url("../images/NasaApp.png");}
#l3{background-image: url("../images/ShoppingList.png");}
#l4{background-image: url("../images/exercise_JS.png");}
#l5{background-image: url("../images/mangiare_HTML.png");}
#l6{background-image: url("../images/nasa_jquery.png");}
#l7{background-image: url("../images/Gallaway_CSharp.png");}
#l8{background-image: url("../images/Cashier_Oracle.png");}
#l9{background-image: url("../images/excelDigital_Laravel.png");}
/* ------------------------- */