:root{
  font-size: 16px;
}

/* Media */

@media (min-width: 150px) {
  :root{
    font-size: 5px;
  }
}
@media (min-width: 780px) {
  :root{
    font-size: 9px;
  }
}
@media (min-width: 990px) {
  :root{
    font-size: 12px;
  }
}
@media (min-width: 1200px) {
  :root{
    font-size: 16px;
  }
}  

html,body{
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
  font: 16px/1 Arial, Helvetica,sans-serif;
  background-color:#333;
}

    b,
    strong {
      font-weight: bolder;
    }
    orange{
      font-weight: bolder;
      color: #e8491d;
    }
    white{
      font-weight: bolder;
      color: #fff;
    }
    
    /* Header **/
    header{
      top: 0;
      position: fixed;
      background:#333;
      color:#fff;
      width:100%;
      min-height:70px;
      border-bottom:#e8491d 3px solid;
      padding-top:1.1rem;
      z-index: 999;
    }

    header a{
      color:#fff;
      text-decoration:none;
      text-transform: uppercase;
      font-size:1.5rem;
    }
    
    header li{
      float:left;
      display:inline;
      padding: 0 1.25rem 0 1.25rem;
    }
    
    header .highlight, header .current a{
      color:#e8491d;
      font-weight:bold;
    }
    
    header a:hover{
      color: #f39176;
      text-decoration: none;
    }
    
    /* Banner */
    .page-banner{
      background-color: #333;
      color:#ccc;
      padding: 11rem 0 2.5rem 0;
      position: relative;
    }

    .page-banner-image {
      background-image: url("../images/skyline.jpg");
      opacity: .33;
      background-size: cover;
      position: absolute;
      top: 5rem;
      bottom: 0;
      left: 0;
      right: 0;
    }

    .page-banner-title {
      opacity: 0.99;
      margin-top:22rem;
      position: center;
      text-align: center;
      width:100%;
      padding:0.625rem;
    }

    .page-banner-content {
      opacity: 0.99;
      margin-top:3.125rem;
      margin-bottom:6.25rem;
      border-style: solid;
      border-radius: 5px;
      border-color:#ccc;
      position: center;
      text-align: left;
      width:100%;
      padding:0.625rem;
    }
    
    /* Animated Text */
    @-webkit-keyframes typing { from { width: 0; } }
    @-webkit-keyframes blink-caret { 50% { border-color: transparent; } }
    
    h1 { 
      font: bold 300% Consolas, Monaco, monospace;
      border-right: .1em solid black;
      width: 16.5rem; 
      width: 90%;
      margin: 2em 1em;
      white-space: nowrap;
      overflow: hidden;
      -webkit-animation: typing 2s steps(21, end),
                 blink-caret .5s step-end infinite alternate;
    }

    .page-banner h2{
      margin-top:0.625rem;
      margin-bottom:0.625rem;
      font-family: Rock Salt, sans-serif;
      font-size: 5.50rem;
      font-style: normal;
      font-variant: normal;
      font-weight: 700;
      line-height: 1.65rem;
      color: #e8491d;
    }

    /* About */
    .page-about{
      background-color: #333;
      color:#ccc;
      padding: 2.5rem 0 2.5rem 0;
      position: relative;
    }

    .about-title{
      margin-top:3.75rem;
      margin-bottom:2.5rem;
      color:#ccc;
      position: relative;
    }

    .about-title h1 { 
      font: bold 450% Consolas, Monaco, monospace;
      border-right: .1em solid black;
      width: 16.5em; 
      width: 60%;
      margin: 5rem 0 0.625rem 0;
      white-space: nowrap;
      overflow: hidden;
      -webkit-animation: typing 2s steps(21, end),
                 blink-caret .5s step-end infinite alternate;
    }

    .about-content {
      margin-top:5rem;
      margin-bottom:6.25rem;
      position: center;
      text-align: left;
      width:100%;
      padding: 0 0 0 30px;
    }

    .about-content p {
      font-size: 20px;     
    }   

    img{
      border-radius: 50%;
      max-width:80%;
      max-height:80%;
    }

    /* Skill Boxes */
    .page-skills {
      background-color: #fff;
      padding: 2.5rem 0 2.5rem 0;
      position: relative;
    }

    .skills-title{
      margin-top:3.75rem;
      margin-bottom:2.5rem;
      color:#333;
      position: relative;
    }
    
    .skills-title h1 { 
      font: bold 450% Consolas, Monaco, monospace;
      border-right: .1em solid black;
      width: 16.5em; 
      width: 35%;
      margin: 5rem 0 0.625rem 0;
      white-space: nowrap;
      overflow: hidden;
      -webkit-animation: typing 2s steps(21, end),
                 blink-caret .5s step-end infinite alternate;
    }

    .box{
      border-style: solid;
      border-radius: 5px;
      border-color:#cccccc;
      margin:0.35rem;
      padding:0.35rem;
      float:left;
      text-align: center;
      padding:0.625rem;
      min-width: 300px;
    }

    .box h2{
      font-weight: bolder;
      margin-top:0.625rem;
      font-size:20px;
      margin-bottom:0.625rem;
    }

    .box ul{
      margin-top:0.625rem;
      margin-bottom:0.625rem;
      font-size:16px;
      text-align: left;
    }

    .box li{
      padding:3px;
    }

    /* Gallery Banner */
    .page-projects {
      background-color: #333;
      padding: 2.5rem 0 2.5rem 0;
      position: relative;
    }

    .projects-title{
      margin-top:3.75rem;
      margin-bottom:0.625rem;
      color:#ccc;
      position: relative;
    }

    .projects-title h1 { 
      font: bold 450% Consolas, Monaco, monospace;
      border-right: .1em solid black;
      width: 16.5em; 
      width: 40%;
      margin: 5rem 0 0.625rem 0;
      white-space: nowrap;
      overflow: hidden;
      -webkit-animation: typing 2s steps(21, end),
                 blink-caret .5s step-end infinite alternate;
    }

    .box-gallery{
      background:#333;
      padding: 0 0 30px 0;
      position: relative;
    }

    /* Buttons in the Gallery */
    .link{
      display: inline-block;
      border-radius: 4px;
      overflow: hidden;
      perspective: 1px;
      background-color:#e8491d;
      border: none;
      color:#fff;
      text-align: center;
      font-size: 1.25rem;
      padding: 5px;
      transition: all 0.5s;
      cursor: pointer;
      margin: 0.625rem;
    }

    .link:hover {
      background-color: #fff; /* Green */
      color: #e8491d;
      text-decoration: none;
      border: 2px solid #e8491d;
    }

    /* Tools Banner */
    .page-tools{
      background:#333;
      color:#ccc;
      padding: 2.5rem 0 2.5rem 0;
      position: relative;
    }

    .tools-title{
      margin-top:3.75rem;
      margin-bottom:2.5rem;
      color:#ccc;
      position: relative;
    }

    .tools-title h1 { 
      font: bold 450% Consolas, Monaco, monospace;
      border-right: .1em solid black;
      width: 16.5em; 
      width: 25%;
      margin: 5rem 0 0.625rem 0;
      white-space: nowrap;
      overflow: hidden;
      -webkit-animation: typing 2s steps(21, end),
                 blink-caret .5s step-end infinite alternate;
    }

    .tools{
      margin:0px;
      padding: 0.625rem 0 1.875rem 0;
      float:left;
      text-align: center;
     
    }
  
    .tools h3{
      color:#fff;
      margin: 0;
      border: 0;
      padding: 0;
      font-size:1rem;
    }

    .tools i{
      font-size: 5rem;
      margin: 0;
      padding: 0;
    }

    /* Gallery Banner */
    .page-gallery {
      background-color: #333;
      padding: 2.5rem 0 2.5rem 0;
      position: relative;
    }
    
    /* Footer */
    footer{
      padding: 2rem 1.25rem 0 1.25rem;
      color:#e8491d;
      background-color:#333;
      text-align: center;
      border-top:#e8491d 3px solid;
    }

    footer h2{
      color: #fff;
      font-size: 3rem;
}
    
    footer a{
          color: #e8491d;
          font-size: 1.75rem;
    }

    footer a:hover {
      font-weight: bolder;
      color: #f39176;
      text-decoration: none;
    }

    footer i{
      font-size: 1.75rem;
      padding:3px;
    }

    footer i:hover {
      color: #f39176
    }

    footer ul{
      list-style-type: none;
    }